

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3 ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* .main-header {
    display: grid;
    align-items: center;
    background-color: beige;
}

.header-left {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

#first-ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.menu-item {
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: red;
}

.header-right {
    display: inline-flex;
    align-items: end;
    flex-wrap: wrap;
    
}

#second-ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


.image-container-1 {
    text-align: center;
}

.image-container-2 {
    text-align: center;
}

.image-container-3 {
    text-align: center;
} */