.main-header {
    display: grid;
    align-items: center;
    background-color: beige;
}

.header-left {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

#first-ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.menu-item {
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: red;
}

.header-right {
    display: inline-flex;
    align-items: end;
    flex-wrap: wrap;
    
}

#second-ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


.image-container-1 {
    text-align: center;
}

.image-container-2 {
    text-align: center;
}

.image-container-3 {
    text-align: center;
}